// @import url("https://fonts.googleapis.com/css?family=Josefin+Sans");
// @import url("https://fonts.googleapis.com/css?family=Patrick+Hand");
// @import url("https://fonts.googleapis.com/css?family=Barlow+Semi+Condensed");
// @import url("https://fonts.googleapis.com/css?family=Raleway");
// @import url("https://fonts.googleapis.com/css?family=Rancho");
@import url("https://fonts.googleapis.com/css?family=ZCOOL+QingKe+HuangYou");
@import url("https://fonts.googleapis.com/css?family=Electrolize");
@import url("https://fonts.googleapis.com/css?family=Saira+Semi+Condensed");
@import url('https://fonts.googleapis.com/css?family=Josefin+Sans');
@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed');
@import url('https://fonts.googleapis.com/css?family=Handlee');

// font-family: "ZCOOL QingKe HuangYou", cursive;
// font-family: "Josefin Sans", sans-serif;
// font-family: "Patrick Hand", cursive;
// font-family: "Barlow Semi Condensed", sans-serif;
// font-family: "Raleway", sans-serif;
// font-family: "Yantramanav", sans-serif;
// font-family: "Rancho", cursive;
// font-family: 'Handlee', cursive;

body {
  font-family: "Helvetic", "Roboto Condensed", sans-serif;
}

nav {
  font-family: "Saira Semi Condensed", sans-serif;
}

button {
  font-family: "Helvetic", "Roboto Condensed", sans-serif;
}